.category-toolbar {
    background-color: #3d9970; /* Emerald */
    color: #ffffff; /* White text */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
  }
  
  .category-toolbar input[type='radio'] {
    display: none;
  }
  
  .category-toolbar label {
    padding: 10px 15px;
    background-color: #ff851b; /* Bright Orange background for normal state */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .category-toolbar label:hover {
    background-color: #001f3f; /* Navy Blue on hover */
  }