#my-nav .nav-item {
  padding: 0.4rem 0.3rem !important;
  margin: 0.2rem !important;
  font-weight: 600;
  font-family: 'Roboto' !important;
}

#my-nav .nav-item:hover {
  background-color: #bcb6b6 !important;
  color: white !important;
}

/* Responsive Styles */
@media (min-width: 766px) {
  #my-nav .navbar-brand {
    position: absolute;
    transform: translateX(-17%);
    left: 15%;
  }
  #my-nav .navbar-collapse {
    margin: 0;
    margin-right: 8%;
    padding: 0;
  }
}

@media (max-width: 765px) {
  #my-nav .navbar-collapse {
    position: fixed;
    top: 85px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 35%;
    height: 60%;
    background-color: #2c3e50;
    border: none;
    text-align: center;
    z-index: 1000;
    overflow-y: auto;
  }

  #my-nav .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }

  #my-nav .navbar-collapse.show {
    left: 0;
    transition: left 500ms ease-in-out;
  }

  #my-nav .navbar-toggler.collapsed~.navbar-collapse {
    transition: left 500ms ease-in-out;
  }

  #my-nav .navbar-brand {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    font-family: 'Copperplate Gothic Light' !important;
  }

  #my-nav .navbar-toggler {
    border-color: #f8f6f8 !important;
    background-color: #2c3e50 !important;
  }

  #my-nav .navbar-toggler:active {
    border: none !important;
    background-color: #bcb6b6 !important;
  }

  #my-nav .navbar-toggler:hover {
    border: none !important;
    background-color: #bcb6b6 !important;
  }

  #my-nav .navbar-toggler:visited {
    border: none !important;
    background-color: #bcb6b6 !important;
  }
}

/* Dropdown Styles */
.dropdownid:hover {
  color: #bcb6b6 !important;
}

#dropdown-basic {
  background-color: #2c3e50 !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0.2rem !important;
  padding: 0.4rem 0.4rem !important;
}

#dropdown-basic:hover {
  background-color: #bcb6b6 !important;
}