

.PageNotFound{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PageNotFoundcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
